{% extends "base.html" %}

{% block content %}
<br>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.gender.label }}<br>
        {{ form.gender(class="form-control") }}<br>
        {% for error in form.gender.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    </p>
    <p>
        {{ form.age.label }}<br>
        {{ form.age(class="form-control") }}<br>
        {% for error in form.age.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}